/* Section A */

nav {
    height: fit-content;
    height: 50px;
}
li {
    display: inline;
    float: right;
    margin: 15px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
nav div {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(14, 141, 141);
    position: relative;
    bottom: 20px;
}
nav img {
    width: 20px;
}
nav p {
    text-align: center;
    color: white;
    padding-top: 7px;
}

/* Section B */
#logo {
    margin: auto;
}
#logo img {
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 40px;
}
#search {
    margin: 30px 350px 10px 350px;
    border: solid 1px gainsboro;
    height: 50px;
    border-radius: 50px;
    text-align: center;
}
.searchItem {
    display: inline-block;
}
#search input {
    height: 90%;
    position: relative;
    bottom: 5px;
    width: 80%;
    border: none 1px;
    outline: none;
}
#search #searcher {
    width: 30px;
    position: relative;
    top: 7px;
    right: 30px;
}
#search #voice {
    width: 25px;
    position: relative;
    top: 10px;
    left: 30px;
}
